@model IEnumerable<AssetManager.Models.CategoryRule>

@{
    ViewBag.Title = "Category Rules";
}

<h2>Category Rules</h2>

<p>
    @Html.ActionLink("Create New Rule", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { CategoryId = item.CategoryId, UserId = item.UserId }) |
            @Html.ActionLink("Details", "Details", new { CategoryId = item.CategoryId, UserId = item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { CategoryId = item.CategoryId, UserId = item.UserId })
        </td>
    </tr>
}

</table>
