<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IDAM</title>

    <script language="javascript" type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/respond.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap-multiselect.css" />
    <script language="javascript" type="text/javascript" src="~/Scripts/custom2.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script>
        $(document).ready(function () {
            $("#user-select").multiselect();
        });
    </script>
</head>
<body style="background-color: #343434; color: #b6b5b5">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name.Split('\\').Last().ToUpper().Replace('.', ' ')!</p>
        <div class="container" style="font-size: 12pt;">
            <div class="navbar-header" style="font-size: 12pt">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                @Html.ActionLink("IDAM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="main-menu">
                <ul class="nav nav-tabs nav-justified">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                    <!--
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Security<span class="caret"></span></a>
                        <ul class="dropdown-menu ">
                            <li>@@Html.ActionLink("Project Rules", "Index", "ProjectRules")</li>
                            <li>@@Html.ActionLink("Category Rules", "Index", "CategoryRules")</li>
                            <li>@@Html.ActionLink("Asset Rules", "Index", "AssetRules")</li>
                            <li>@@Html.ActionLink("Component Rules", "Index", "ComponentRules")</li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        -->
                            <li>@Html.ActionLink("Project Types", "Index", "ProjectTypes")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <!--
                        </ul>
                    </li>
                        -->
                </ul>
                
            </div>
            
        </div>
        <!--Location bar-->
    </div>
    <div class="container loc-bar">
        <div class="row col-md-12" id="locBar">
            <a href="@Url.Action("Index","Home")">Home</a> > 
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ICE Animations</p>
        </footer>
    </div>

    <!--@@Scripts.Render("~/bundles/jquery")
    @@Scripts.Render("~/bundles/bootstrap")
    -->
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
