@model AssetManager.Models.ComponentArchive

@{
    ViewBag.Title = "Revive";
}

<script>
    $("#locBar").append("<a href=@Url.Action("Index", "Assets", new { id=Model.Component.Asset.Category.Project.Id })>@Model.Component.Asset.Category.Project.Name</a> > ");
    $("#locBar").append("<a href=@Url.Action("Index", "Components", new { id = Model.Component.Asset.Id })>@Model.Component.Asset.Name</a> > ");
    $("#locBar").append("<a href=@Url.Action("Index", new { id = Model.ComponentId })>@Model.Component.Name</a> > ");
    $("#locBar").append("<span>@Model.ArchiveDate.ToString()</span>");
</script>

<h2>Revive Component Archive</h2>

<h3>Are you sure you want to revive this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArchiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Component.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Component.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComponentDateTimeCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComponentDateTimeCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComponentDateTimeUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComponentDateTimeUpdated)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Revive" class="btn btn-success" /> |
            @Html.ActionLink("Back to List", "Index", new { id = Model.ComponentId })
        </div>
    }
</div>
