@model AssetManager.Models.Asset

@{
    ViewBag.Title = "Asset Details";
}

<h2>Asset Details</h2>
@Model.Name
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeCreated)
        </dd>

        <dt>
            @Html.LabelFor(model => model.AssetRules, "Allowed Users")
        </dt>

        <dd>
            @foreach (var ar in Model.AssetRules)
            {
                <ul>
                    <li>@ar.User.Name</li>
                </ul>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { id=ViewBag.ProjectId })
</p>
