@model IEnumerable<AssetManager.Models.AssetRule>

@{
    ViewBag.Title = "Asset Rules";
}

<h2>Asset Rules</h2>

<p>
    @Html.ActionLink("Create New Rule", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Asset.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Asset.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { AssetId = item.AssetId, UserId = item.UserId }) |
            <!--@@Html.ActionLink("Details", "Details", new { AssetId = item.AssetId, UserId = item.UserId }) |-->
            @Html.ActionLink("Delete", "Delete", new { AssetId = item.AssetId, UserId = item.UserId })
        </td>
    </tr>
}

</table>
