@model AssetManager.Models.Category

@{
    ViewBag.Title = "Category Details";
}

<script>
    $("#locBar").append("<a href=@Url.Action("Index", "Categories")>Categories</a> > ")
    $("#locBar").append("<span>@Model.Name</span>");
</script>

<h2>Category Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeCreated)
        </dd>

    </dl>
</div>
<p>
    <!--@@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |-->
    @Html.ActionLink("Back to List", "Index")
</p>
